.all{
    background-image:url('C:/Users/IHEB/Desktop/forms/src/assets/crisscross.png');
}
.questionnair{
    margin-top: 70px;
}

.dell{
    font-size:20px;
    border: none;
    background-color: #fff;
    color:rgb(179, 9, 9);
}