.container{
    margin:100px;
}


.ques{
    margin-right:25px;
    margin-left: 25px;
    padding:0px !important;
}
.quess{
    margin-right: 25px;
    margin-left: 25px;
    padding:0px !important;
    font-size:150px;
    width:240px;
    height: 300px;
    text-align: center;
}

.fa-plus{
    color:gray;
    margin-right:50px;
}
.ajout{
    
    width:238px !important;
}